<%= stylesheet_link_tag 'show', :media => "all" %>

<h3 id = "title1">投稿詳細</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="/users/<%= @tweet.user.id %>"><%= @tweet.user.name %></a>
            <br>
            <%= @tweet.body %>
            <br>
            ネコがいた場所：<%= @tweet.city %>
            <p class="more-info">
                <% if user_signed_in? && current_user.id == @tweet.user_id %>
                    <%= link_to "編集", edit_tweet_path(@tweet.id) %>
                <% end %>
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(@tweet) %>
                        <%= link_to tweet_like_path(@tweet), method: :delete do %>
                            <i class="fas fa-paw"></i><%= @tweet.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to tweet_likes_path(@tweet), method: :post do %>
                            <i class="fas fa-paw"></i><%= @tweet.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="fas fa-paw"></i><%= @tweet.likes.count %>
                <% end %>
            </p>
            <p class="time"><%= @tweet.created_at.to_s(:datetime_jp) %></p>
        </div>
        <div class="col-sm-6">
            <%= image_tag @tweet.image_url, width: "250px" if @tweet.image? %>
            <br>
            <%= video_tag @tweet.video_url, :controls => true, :autoplay => true, :loop => true, width: "250px" if @tweet.video?%>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

        <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3zvDbgIMXQ9dUPkwLNblX75tAyVmM7n4&callback=initMap" async defer></script>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>いいねしたユーザー</h4>
            <% @tweet.liked_users.each do |user| %>
                <li><%= user.name unless @tweet.user.blank? %></li>
            <% end %>
        </div>
        <div class="col-sm-6">
            <h4>コメント一覧</h4>
            <% if user_signed_in? %>
                <%= form_with(model:[@tweet, @comment], local: true) do |f| %>
                    <%= f.text_area :content, class:"form-control" %>
                    <div class="warning">
                        ※1～140字で記入してください※
                    </div>
                    <%= button_tag type: "submit" do %>
                        <i class="far fa-comments"></i> コメントする
                    <% end %>
                <% end %>
            <% end %>
            <br>
            <% @comments.each do |c| %>
            <div>
                <%= c.user.name unless c.user.blank? %>
                <br>
                <%= c.content %>
            </div>
            <% end %>
        </div>
    </div>
</div>