<%= stylesheet_link_tag 'mypage', :media => "all" %>

<!-- マイページ（ユーザーページ） -->
<h3 id = "title1">ユーザー情報</h3>
<div class="container profile">
    <div class="row profile-row">
        <div class="offset-md-3 col-md-2">
            <h5>《名前》</h5>
        </div>
        <div class="col-md-4">
            <%= @user.name %><br>
        </div>
    </div>
    <div class="row profile-row">
        <div class="offset-md-3 col-md-2">
            <h5>《プロフィール》</h5>
        </div>
        <div class="col-md-4">
            <%= @user.profile %><br>
        </div>
    </div>
</div>
<div class="profile-show-link">
    <!-- 自分のマイページの場合、ユーザー情報編集ページへのリンク表示 -->
    <% if current_user.id == @user.id %>
        <%= link_to "ユーザー情報の編集", edit_user_registration_path %>
    <% end %>
</div>

<h3 id = "title1">ユーザーの投稿一覧</h3>
<div class="container">
    <% @user.tweets.each do |t| %>
        <div class="row tweets-row">
            <div class="col-sm-6">
                <%= t.body %>
                <br>
                ネコがいた場所：<%= t.city %>
                <p class="more-info">
                    <% if user_signed_in? %>
                        <% if current_user.already_liked?(t) %>
                            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                                <i class="fas fa-paw"></i><%= t.likes.count %>
                            <% end %>
                        <% else %>
                            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id),method: :post do %>
                                <i class="fas fa-paw"></i><% t.likes.count %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <i class="fas fa-paw"></i><%= t.likes.count %>
                    <% end %>
                    <i class="far fa-comments"></i><%= t.comments.count %>
                    <br>
                    <%= link_to "詳細", tweet_path(t.id) %>
                    <% if user_signed_in? && current_user.id == t.user_id %>
                        <%= link_to "編集", edit_tweet_path(t.id) %>
                        <%= link_to "削除", tweet_path(t.id), method: :delete %>
                    <% end %>
                </p>
                <p class="time"><%= t.created_at.to_s(:datetime_jp) %></p>
            </div>
            <div class="col-sm-6">
                <%= image_tag t.image_url, width: "100%" if t.image? %>
                <br>
                <%= video_tag t.video_url, :controls => true, width:"250px" if t.video?%>
            </div>
        </div>
    <% end %>
</div>