<%= stylesheet_link_tag 'registations-new', :media => "all" %>

<!-- 新規ユーザー登録ページ -->
<h3 id = "title1">新規登録</h3>
<p><%= render "users/shared/error_messages", resource: resource %></p>

<div class=container>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row form-row">
    <div class="offset-md-3 col-md-2">
      <%= f.label :お名前 %>
    </div>
    <div class="col-md-4 field">
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
    </div>
  </div>
  <div class="row form-row">
    <div class="offset-md-3 col-md-2">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-4 field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>
  <div class="row form-row">
    <div class="offset-md-3 col-md-2">
      <%= f.label :パスワード %><br>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
    </div>
    <div class="col-md-4 field">
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>
  </div>
  <div class="row form-row">
    <div class="offset-md-3 col-md-2">
      <%= f.label :パスワード（確認） %>
    </div>
    <div class="col-md-4 field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>
  </div>
  <div class="row form-row">
    <div class="col-md-12 action">
      <p><%= f.submit "登録" %></p>
    </div>
  </div>
  <% end %>
</div>

<p><%= render "users/shared/links" %></p>
